* {
    font-family: "Arial";
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

button {
    appearance: none;
    background: linear-gradient(180deg, #2371e8, #145ecd);
    outline: none;
    border: none;
    border-radius: 5px;
    border-image-slice: 1;
    padding: 4px 8px;
    margin: 4px;
    color: white;
}

#navbar {
    background: #e2e2e2;
    position: fixed;
    width: 10%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#viewport {
    width: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#viewport img {
    margin: 6px;
    border-radius: 5px;
    object-fit: cover;
    height: 400px;
    max-width: 40%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
    }

    #navbar {
        color: white;
        background-color: #232323d9;
    }

    #navbar img {
        border: 2px solid hsl(0 0% 13%);
    }
}