* {
    font-family: "Arial";
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

button {
    appearance: none;
    background: linear-gradient(180deg, #2371e8, #145ecd);
    outline: none;
    border: none;
    border-radius: 5px;
    border-image-slice: 1;
    padding: 4px 8px;
    margin: 4px;
    color: white;
}

#navbar {
    background: #e2e2e2;
    position: fixed;
    width: 15%;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#navbar #taglist {
    flex-grow: 1;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
}
#drop-area.highlight {
    border-color: purple;
    background-color: red;
  }

#navbar header, #navbar footer {
    flex-shrink: 0;
}

#navbar #fileElem {
    display: none;
}

#navbar footer label {
    background-color: #206de3;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #bbbbbb;
}

#viewport {
    width: 100%;
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
}

#viewport img {
    margin: 6px;
    border-radius: 5px;
    object-fit: cover;
    height: 400px;
    max-width: 40%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        background-image: url(https://pure.wallpapergk.com/download/glass_drops_glare_wet-1920x1080.jpg);
    }

    #navbar {
        color: white;
        background-color: #232323d9;
    }

    #navbar img {
        border: 2px solid hsl(0 0% 13%);
    }
}

footer#drop-area {width: 100%;border: 2px dashed gray;height: 150px;border-radius: 5px;display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;}